
/*
	* This is a manifest file that'll be compiled into application.css, which will include all the files
	* listed below.
	*
	* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
	* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
	*
	* You're free to add application-wide styles to this file and they'll appear at the top of the
	* compiled file, but it's generally better to create a new file per style scope.
	*
	*= require_self
	*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-toggle/css/bootstrap-toggle";
@import "jquery-labelauty/source/jquery-labelauty";


.background-container {
	background-image: url(image_path('brooklyn_bridge_at_night.jpg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-navbar {
	color: white;
}

.mdl-textfield__input {
	border-bottom: 1px solid white;
}